<div class="container">
  <div class="card">
    <app-title title="My Profile"></app-title>

    <form [formGroup]="profileForm" (ngSubmit)="submitProfile()">
      <text-input
        [control]="pf.name"
        [showErrorsWhen]="profileSubmitted"
        type="text"
        label="Name">
      </text-input>

      <text-input
        [control]="pf.email"
        [showErrorsWhen]="profileSubmitted"
        type="email"
        label="Email">
      </text-input>

      <default-button text="Save Changes"></default-button>
    </form>
  </div>

  <div class="card">
    <app-title title="Change Password"></app-title>

    <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
      <text-input
        [control]="pwf.currentPassword"
        [showErrorsWhen]="passwordSubmitted"
        type="password"
        label="Current Password">
      </text-input>

      <text-input
        [control]="pwf.newPassword"
        [showErrorsWhen]="passwordSubmitted"
        type="password"
        label="New Password">
      </text-input>

      <text-input
        [control]="pwf.confirmPassword"
        [showErrorsWhen]="passwordSubmitted"
        type="password"
        label="Confirm New Password">
      </text-input>

      <default-button text="Update Password"></default-button>
    </form>
  </div>
</div>
